* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

nav {
  background-color: white;
  font-size: 1.1rem;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
}
nav .navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar-wrapper .navbar-nav {
  display: flex;
  position: relative;
}
nav .navbar-wrapper .navbar-nav li > a {
  padding: 15px;
  display: block;
}
nav .navbar-wrapper .navbar-nav li > a:hover {
  background-color: #00bafc;
  color: white;
  transition: 400ms;
}
nav .navbar-wrapper .navbar-nav .navbar-dropdown-toggler:hover #navbar-dropdown {
  transform: scale(1);
  transition: 300ms;
}
nav .navbar-wrapper .navbar-nav #navbar-dropdown {
  font-size: 0.99rem;
  background-color: white;
  z-index: 5;
  transform: scale(0);
  position: absolute;
  top: 100%;
  left: 63%;
  width: 180px;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
  border-radius: 7px;
}
nav .navbar-wrapper .navbar-nav #navbar-dropdown li > a:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 13px 15px;
  transition: none;
}
nav .navbar-wrapper .navbar-social > a {
  padding: 0 5px;
}
nav .navbar-wrapper .navbar-social > a:hover {
  color: #00bafc;
}
nav a {
  color: black;
}

#accordion-media-opener,
#accordion-media-closer {
  display: none;
}

#main .main-wrapper {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 20% 1fr;
}
#main .main-wrapper .main-right .component-content {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
  display: none;
}
#main .main-wrapper .main-right .component-content .images {
  width: 100%;
  padding: 10px 0;
}
#main .main-wrapper .main-right .component-content .component-heading {
  font-size: 2rem;
  margin: 10px 0;
}
#main .main-wrapper .main-right .component-content .component-subheading {
  font-size: 1.5rem;
  margin: 7px 0;
}
#main .main-wrapper .main-right .component-content .description {
  width: 100%;
  padding: 0px 0px 10px 0px;
  line-height: 1.5rem;
}
#main .main-wrapper .main-right .component-content .description ul {
  list-style-type: disc;
  padding-left: 5%;
}
#main .main-wrapper .main-right .component-content .description a {
  display: inline-block;
  margin: 5px 5px 0 0;
}
#main .main-wrapper .main-right .component-content .description a img {
  height: 80px;
  vertical-align: middle;
}
#main .main-wrapper .main-right .component-content .note {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e9ecef;
  border-left: 3px solid #5bc0de;
}
#main .main-wrapper .main-right .component-content .alumni-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
#main .main-wrapper .main-right .component-content .alumni-wrapper .picture {
  padding: 10px 0;
}
#main .main-wrapper .main-right .component-content .alumni-wrapper .picture img {
  height: 300px;
  width: 100%;
}
#main .main-wrapper .main-right .component-content .alumni-wrapper .alumni-info {
  padding: 10px 15px;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#main .main-wrapper .main-right .component-content .alumni-wrapper .alumni-info a {
  display: inline-block;
}

.accordion .accordion-item .accordion-item-toggler {
  font-size: initial;
  width: 90%;
  text-align: left;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  transition: 300ms;
}
.accordion .accordion-item .accordion-item-toggler:hover, .accordion .accordion-item .accordion-item-toggler:focus {
  background-color: whitesmoke;
  font-weight: 600;
}
.accordion .accordion-item .accordion-item-toggler i {
  pointer-events: none;
}
.accordion .accordion-item .accordion-body {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}
.accordion .accordion-item .accordion-body li {
  width: 90%;
  padding: 5px 5px 5px 20px;
  cursor: pointer;
}
.accordion .accordion-item .accordion-body li:hover {
  background-color: cadetblue;
}
.accordion .accordion-item .accordion-body li.active {
  background-color: cadetblue;
  color: cornsilk;
}

#AI_test {
  width: 100%;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.678);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#AI_test .AI_form {
  width: 100%;
  background-color: whitesmoke;
  padding: 3% 10%;
}
#AI_test .AI_form #variantlar {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px 30px;
  overflow: hidden;
}
#AI_test .AI_form #variantlar li img {
  width: 100%;
  height: 200px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#AI_test #natija {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
  position: relative;
}
#AI_test #natija #natija_nomi {
  padding: 15px 0;
}
#AI_test #natija #natija_rasmi {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#AI_test #natija #natija_matni {
  padding: 3%;
}
#AI_test #natija #closeResult {
  position: absolute;
  right: 3%;
  top: 3%;
  border: none;
  background-color: unset;
  font-size: 2rem;
  cursor: pointer;
  padding: 2%;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 10px) and (max-width: 768px) {
  nav {
    width: 100vw;
  }
  nav .navbar-wrapper {
    padding: 10px 0;
  }
  nav .navbar-wrapper .navbar-middle {
    display: none;
  }

  #main .main-wrapper {
    padding: 30px 0;
    grid-template-columns: 1fr;
    width: 100%;
  }
  #main .main-wrapper .main-left .accordion {
    transform: scale(0);
    transition: 300ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
  }
  #main .main-wrapper .main-left .accordion .accordion-item .accordion-item-toggler {
    width: 90%;
    display: block;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    color: white;
  }
  #main .main-wrapper .main-left .accordion .accordion-item .accordion-item-toggler:hover, #main .main-wrapper .main-left .accordion .accordion-item .accordion-item-toggler:focus {
    background-color: #dbdbdb;
    color: #08404e;
  }
  #main .main-wrapper .main-left .accordion .accordion-item .accordion-body li {
    width: 80%;
    display: block;
    padding: 5px;
    margin: 2px auto;
  }
  #main .main-wrapper .main-left .accordion .accordion-item .accordion-body li:hover {
    background-color: #227174;
  }
  #main .main-wrapper .main-left .accordion .accordion-item .accordion-body li.active {
    background-color: #104a4d;
    color: cornsilk;
  }
  #main .main-wrapper .main-left #accordion-media-opener {
    font-size: 1rem;
    display: block;
    border: none;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  #main .main-wrapper .main-left #accordion-media-closer {
    display: block;
    position: absolute;
    bottom: 7%;
    left: 50%;
    padding: 5%;
    transform: translateX(-50%);
    font-size: 2rem;
    cursor: pointer;
  }
  #main .main-wrapper .main-right .component-content {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.26);
    display: none;
  }
  #main .main-wrapper .main-right .component-content .images {
    width: 100%;
    padding: 10px 0;
  }
  #main .main-wrapper .main-right .component-content .component-heading {
    font-size: 2rem;
    margin: 10px 0;
  }
  #main .main-wrapper .main-right .component-content .component-subheading {
    font-size: 1.5rem;
    margin: 7px 0;
  }
  #main .main-wrapper .main-right .component-content .description {
    width: 100%;
    padding: 0px 0px 10px 0px;
    line-height: 1.5rem;
  }
  #main .main-wrapper .main-right .component-content .description ul {
    list-style-type: disc;
    padding-left: 5%;
  }
  #main .main-wrapper .main-right .component-content .description a {
    display: inline-block;
    margin: 5px 5px 0 0;
  }
  #main .main-wrapper .main-right .component-content .description a img {
    height: 80px;
  }
  #main .main-wrapper .main-right .component-content .alumni-wrapper {
    display: grid;
    grid-template-columns: 100%;
  }
  #main .main-wrapper .main-right .component-content .alumni-wrapper .picture img {
    height: 300px;
    width: 100%;
  }
  #main .main-wrapper .main-right .component-content .alumni-wrapper .alumni-info {
    padding: 10px 15px 10px 15px;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}/*# sourceMappingURL=style.css.map */